body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}

.container {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 280px;
    background: #ffffff;
    height: 100vh;
    padding: 20px;
    box-shadow: 3px 0 10px rgba(0,0,0,0.1);
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.section-title {
    padding: 10px;
    border: 2px solid #000;
    background: #e9e9e9;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 20px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.menu li a {
    text-decoration: none;
    color: #000;
}

.menu li a:hover {
    font-weight: bold;
}

.dot {
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50%;
    margin-right: 10px;
}

/* CONTENT AREA */
.content {
    flex-grow: 1;
    padding: 40px;
}


.main-box {
    background: white;
    padding: 30px;
    border: 3px solid #000;
    border-radius: 10px;
}

/* PROFILE LAYOUT */
.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-info {
    width: 65%;
}

.profile-pic img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    border: 3px solid black;
    object-fit: cover;
}

/* HIDE PROFILES BY DEFAULT */
.profile-box {
    display: none;
}

/* SHOW SELECTED PROFILE */
:target {
    display: block;
}

/* HIDE DEFAULT CONTENT WHEN PROFILE SELECTED */
:target ~ #default {
    display: none;
}
